extends ../layouts/layout.pug

block title
  title 黑人問號 JS 社
block content
  .container
    .row
      .col-sm-3
        p
          |	123
      .col-sm-9
        .row
          .col-6
            p File from : Debby
          .col-6
            p JS 很可怕！
        .row
          .col-4
            ul
              li
                a(href="")
              li
              li
              li
              li
              li
              li
              li
              li            
          .col-4
          .col-4