/* css 變數*/
:root {
  --spacing: 10px;
  --blur: 10px;
  --base: #ffc600;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-weight: 100;
  font-size: 50px;
  font-family: 'Heebo', sans-serif;
}

/* 使用 css 變數*/
img {
  padding: var(--spacing);
  background-color: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}