* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background-color: #172129;
  font-family: "Yantramanav", sans-serif;
}

h2 {
  font-size: 2rem;
  padding-bottom: 5px;
}

kbd {
  font-family: "Yantramanav", sans-serif;
}

span {
  border-top: 1px solid #214259;
  width: 100%;
  display: block;
  padding-top: 8px;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
  justify-content: center;
  flex-wrap: wrap;
}

.keybox {
  text-align: center;
  padding: 10px 10px 8px 10px;
  min-width: 80px;
  border-radius: 5px;
  border: 2px solid #214259;
  margin: 7px 5px;
  color: #00aec0;
  cursor: pointer;
  transition: all 0.1s;
  position: relative;
}
.keybox:hover {
  border: 2px solid #00aec0;
  color: #00f2ff;
}
.keybox:hover span {
  border-top: 1px solid #00aec0;
}
.keybox:active {
  border: 2px solid #00aec0;
  background-color: #15334a;
  box-shadow: 0px 0px 0px 4px rgba(0, 174, 192, 0.4);
}
.keybox:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.active {
  border: 2px solid #00aec0;
  background-color: #15334a;
  box-shadow: 0px 0px 0px 4px rgba(0, 174, 192, 0.4);
  color: #00f2ff;
}
.active span {
  border-top: 1px solid #00aec0;
}