header
  nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand.font-weight-bold(href='/') 黑人問號 JS 社
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.text-white.font-italic(href='/')
            | MISSION Team
        li.nav-item
          a.nav-link.text-white.font-italic(href='https://javascript30.com/',target='_blank') #JavaScript 30
        li.nav-item 
          a.nav-link.text-white(href='https://github.com/lizwang50/JavaScript-30weeks',target='_blank')
            i.fab.fa-github.fa-lg