// Bourbon:

$output-bourbon-deprecation-warnings: false

// Fonts:

$general-font: Open Sans

// Colors:

$black: #000
$white: #fff

// Media brackpoints:

$desktop-small: map-get($grid-breakpoints, xl) - 1 //1199px
$tablet: map-get($grid-breakpoints, lg) - 1 //991px
$mobile: map-get($grid-breakpoints, md) - 1 //767px
$mobile-small: map-get($grid-breakpoints, sm) - 1 //575px
