* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  width: 1250px;
  height: 1000px;
  background-image: url("./images/world_map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}
.world-clock {
  display: flex;
  padding: 15px;
}
.clock {
  width: 8rem;
  height: 8rem;
  background:linear-gradient(#e6e4e4, #743e1f8e);
  border-radius: 50%;
  margin: 100px auto;
  padding: 0.5rem;
  display: inline-block;
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  background: #5c2b17b7;
  /* background: #ffffffb7; */
  border-radius: 50%;
}
.clock-maru {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #e9e3e3;
  /* background: #5c2b17b7; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.hand {
  height: 5px;
  background: #e9e3e3;
  /* background: #5c2b17b7; */
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transition: all 0.05s;
  /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
}
.hour-hand {
  width: 30%;
  left: 20%;
}
.min-hand {
  width: 40%;
  left: 10%;
}
.second-hand {
  width: 50%;
  height: 2.5px;
  background: rgb(243, 75, 14);
}
