doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Default title
    meta(name='description' content='')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image' content='path/to/image.jpg')
    link(href='https://fonts.googleapis.com/css?family=Exo+2|Noto+Sans+TC&display=swap', rel='stylesheet')
    link(rel='stylesheet' href='css/style.css')
    script(src='https://kit.fontawesome.com/613aca3582.js', crossorigin='anonymous')

  body
    include ../partials/header.pug
    block content
    include ../partials/footer.pug

    //- script(src="js/bundle.js")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    script(src='js/bundle.js')

